@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #000000;
  color: #ffffff;
  cursor: none !important;
}

/* Hide video controls completely */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

video::-webkit-media-controls-current-time-display {
  display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

/* Firefox */
video::-moz-media-controls {
  display: none !important;
}

/* Ensure videos are pointer-events: none to prevent interaction */
video {
  pointer-events: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.r-transition {
  transition: all 0.2s ease-in-out;
}

.r-transition-s {
  transition: all 0.8s ease-in-out;
}

.nav-item::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #dbf900;
  transition: 0.8s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.nav-item:hover::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 100% 50%;
}

.marquee-carousel .carousel .slider-wrapper {
  overflow: hidden;
  /* Hide any overflow to create a smooth scrolling effect */
}

.marquee-carousel .carousel .slide {
  width: 100%;
  /* Ensure each slide takes up full width */
}

/* Optional: Customize the appearance further */
.marquee-carousel .carousel .slider {
  display: flex;
  /* Keep slides in a row */
}

.marquee-carousel .carousel .slider-wrapper.axis-horizontal .slider {
  animation: marquee-scroll 30s linear infinite;
  /* Infinite scrolling animation */
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.card-b-l-btn {
  position: relative;
  float: right;
  bottom: 100px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: #161616;
  border-top-left-radius: 50%;
  display: flex;
}

.curveTop {
  position: absolute;
  transform: translateX(1px);
  z-index: 0;
  width: 29px;
  height: 129px;
  mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
}

.scoop-top {
  position: absolute;
  z-index: 0;
  width: 30px;
  height: 80px;
  background-image: radial-gradient(30px at 0 0, transparent 99%, #161616);
}

.scoop-bottom {
  position: absolute;
  z-index: 0;
  height: 30px;
  width: 80px;
  background-image: radial-gradient(30px at 0 0, transparent 99%, #161616);
}

.scoop-ow-top {
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 22px;
  background-image: radial-gradient(20px at 0 0, transparent 99%, #161616);
}

.scoop-ow-bottom {
  position: absolute;
  z-index: 0;
  height: 23px;
  width: 22px;
  background-image: radial-gradient(20px at 0 0, transparent 99%, #161616);
}

.curveBottom {
  position: absolute;
  transform: translateY(1px);
  z-index: 0;
  width: 129px;
  height: 29px;
  mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
}

.curveTopOurWork {
  position: absolute;
  transform: translateX(1px);
  z-index: 0;
  width: 29px;
  height: 129px;
  mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
}

.curveBottomOurWork {
  position: absolute;
  transform: translateY(1px);
  z-index: 0;
  width: 129px;
  height: 29px;
  mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
}

@media (min-width: 1700px) {
  .card-b-l-btn {
    position: relative;
    float: right;
    bottom: 138px;
    left: 0px;
    width: 138px;
    height: 138px;
    background-color: #161616;
    border-top-left-radius: 50%;
    display: flex;
  }

  .curveTop {
    position: absolute;
    transform: translateX(2px);
    z-index: 0;
    width: 31.5px;
    height: 167.5px;
    mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
    -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  }

  .curveBottom {
    position: absolute;
    transform: translateY(2px);
    z-index: 0;
    width: 167.5px;
    height: 31.5px;
    mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
    -webkit-mask: radial-gradient(30px at 0 0, transparent 100%, black 100%);
  }
}

@media (max-width: 1024px) {
  .curveTopOurWork {
    transform: translateX(10.5px) translateY(9px);
    width: 30px;
    height: 77px;
    mask: radial-gradient(20px at 0 0, transparent 100%, black 100%);
    -webkit-mask: radial-gradient(20px at 0 0, transparent 100%, black 100%);
  }

  .curveBottomOurWork {
    transform: translateY(-3px) translateX(32px);
    height: 20px;
    width: 100px;
    mask: radial-gradient(20px at 0 0, transparent 100%, black 100%);
    -webkit-mask: radial-gradient(20px at 0 0, transparent 100%, black 100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
  /* 2 seconds, linear timing, infinite loop */
}

@media (max-width: 1024px) {
  .curveTop {
    transform: translateX(10px) translateY(-30px);
    width: 38px;
    height: 100px;
  }

  .curveBottom {
    transform: translateY(9px) translateX(-30px);
    width: 100px;
    height: 38px;
  }
}

#element-with-background-image:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.ellipsis-multiline {
  @apply overflow-hidden text-ellipsis;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Number of lines to show before truncating */
}

.case-study-content h3 {
  font-size: 1.125rem
    /* 18px */
  ;
  line-height: 1.75rem
    /* 28px */
  ;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.case-study-content h6 {
  font-size: 1.125rem
    /* 18px */
  ;
  line-height: 1.75rem
    /* 28px */
  ;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.case-study-content p {
  font-size: 0.875rem
    /* 14px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
  margin-top: 2rem
    /* 24px */
  ;
  line-height: 1.625;
  margin-bottom: 2.5rem
    /* 40px */
  ;
}